.author-button-wrapper {
  position: relative;
  display: inline-block;
}

.author-hover-image {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-50%) translateY(10px) /* 初始偏移 */
}

.author-button-wrapper:hover .author-hover-image {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(0) /* 悬停时恢复 */
}